<h1>Groceries</h1>
<h2>Add to List</h2>
<form action='/groceries' method='post'>
    <input type="text" name="storeName" placeholder="Enter a store">
    <input type="submit">
</form>


<form action='/groceryItem' method='post'>
    <input type="text" name="groceryItem" placeholder="Enter Grocery Item">
    <input type="submit">
</form>
<ul>

</ul>